/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* initial settings */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
  display: flex;
  flex-direction: column;
}
:where(ul, ol):where([class]) {
  padding-left: 0;
}
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}
:where(dd[class]) {
  margin-left: 0;
}
:where(ul[class]) {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  font: inherit;
  cursor: pointer;
}

/* header styles */
.app-header {
  padding-block: 0.3rem;
  background-color: #fff;
  /* box-shadow: -5px 5px 20px #b8b8b8; */
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-name {
  font-size: 2rem;
  color: #5497df;
}
.header-links {
  display: flex;
  gap: 1.8rem;
}
.header-link-button {
  font-size: 1.1rem;
  border: none;
  background-color: #fff;
  color: #aaa;
  padding: 0;
  user-select: none;
}
.header-link-button:hover {
  color: #007bff;
  transition: color 0.5s ease;
  /* border-bottom 0.5s ease */
}

/* this is for li elements */
.is-active {
  color: #007bff;
  border-bottom: 1px solid #007bff;
}

/* main section styles */
.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 10rem; */
}
.main-container {
  text-align: center;
  padding: 1.4rem 2rem;
  background-color: #000;
  border-radius: 10px;
}
.main-text {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 1rem;
}
.main-text-color {
  color: #fff;
  text-decoration: underline;
}
.main-button {
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}
.main-button:hover {
  background-color: #5497df;
  color: #fff;
  transition: 0.2s ease;
}

/* media (width) */
@media (max-width: 610px) {
  .header-name {
    font-size: 1.5rem;
  }
  .header-links {
    gap: 0.8rem;
  }
  .header-link-button {
    font-size: 0.7rem;
  }
  /* .app-main {
    padding-bottom: 20rem;
  } */
  .main-container {
    padding: 1rem 1.5rem;
  }
  .main-text {
    font-size: 1rem;
    margin-bottom: 0.6rem;
  }
  .main-button {
    font-size: 0.7em;
  }
}
@media (max-width: 390px) {
  .header-name {
    font-size: 1rem;
  }
  .header-links {
    gap: 0.3rem;
  }
  .header-link-button {
    font-size: 0.6rem;
  }
  /* .app-main {
    padding-bottom: 30rem;
  } */
  .main-container {
    padding: 0.5rem 1rem;
  }
  .main-text {
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
  }
  .main-button {
    font-size: 0.5rem;
  }
}
